@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-width: max-content;
}

.cart-container {
  align-items: center;
  background: #CFD7E5;
  display: flex;
  min-height: 100vh;
  height: fit-content;
  justify-content: center;
  width: 100%;
}

.cart-box {
  background-color: #FFF;
  border-radius: 12px;
  box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  margin: 2rem;
  min-width: 35rem;
  padding: 1rem 0;
  text-align: center;
  width: 45vw;
}

hr {
  border: 1px solid rgb(214, 205, 205);
}

.cart-title {
  padding-bottom: 1rem;
  font-size: 1.7rem;
}

.cart-box-sob-total, .cart-box-sub-total {
  margin-top: 1.2rem;
}

.cart-box-sob-total {
  margin-bottom: 2.8rem;
}

.cart-total-price {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.free-delivery-msg {
  background-color: #a4e2a9;
  color: #4C8C27;
  width: fit-content;
  margin: 1.2rem auto;
  padding: 10px 20px;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
